[run]
branch = True
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    # omit this single file
    utils/tirefire.py

[html]
directory = coverage_report

[json]
pretty_print = true